// Background Colors
$color-background-8: #462A71;
$color-background-gb-5: #FFFFFF;
$color-background-7:  #FF6300;


// Text Colors
$color-gb-5: #FFFFFF;
$color-link-1: #FA6300;
$color-gb-4: #462A71;
$color-gt-2: #3C3E3E;
$color-link-7: #37FEC8;




// Fonts
@import './fonts.imports';

// Font-Family "Montserrat"
$font-m-SemiBold: "Montserrat-SemiBold";
$font-m-Regular: "Montserrat-Regular";
$font-m-Medium: "Montserrat-Medium";
$font-m-Light: "Montserrat-Light";
$font-m-ExtraLight: "Montserrat-ExtraLight";
$font-m-ExtraBold: "Montserrat-ExtraBold";
$font-m-Bold: "Montserrat-Bold";
$font-m-Black: "Montserrat-Black";

// Font-Family "Lato"
$font-l-Regular: "Lato-Regular";
$font-l-Light: "Lato-Light";
$font-l-Bold: "Lato-Bold";
$font-l-Black: "Lato-Black";

