<section id="header">
  <div class="content">
    <div class="row m-0">

      <div class="col-4 p-0">
        <div class="contentImg">
          <img class="logoBanco" src="../../../assets/images/Banco-BMG.svg" alt="Banco Bmg">
        </div>
      </div>

      <div class="col-8 p-0">

        <div class="contentX text-right">

          <span class="link">
            <a class="textLink" href="">Simular agora</a>
          </span>

          <span class="searsh">
            <img src="../../../assets/images/search_24px.svg" alt="Pesquisa">
          </span>

          <span class="menu">
            <img src="../../../assets/images/menu.svg" alt="Menu">
          </span>

        </div>

      </div>

    </div>
  </div>
</section>
