<div class="content">
  <div class="card">
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div class="card-text">
          <h1>Auto e Home <br> Equity Bmg</h1>
          <p>Um novo “sim” do Bmg pra você: Empréstimo com garantia usando seu imóvel ou veículo!</p>
          <a href="">Faça uma simulacão</a>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="card-img">
          <img class="desk" src="../../../assets/images/Mask Group (1).svg" alt="">
          <img class="mobile" src="../../../assets/images/Rectangle 1066.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="informativeContent">
    <div class="row m-0">

      <div class="col-md-6">
        <div class="content1">
          <h1>O que é o auto e home equity?</h1>
          <p class="text1">Os termos auto e home equity estão diretamente ligados à modalidade de empréstimo com garantia, em que você oferece seu veículo, casa ou apartamento para obter o crédito que precisa.</p>
          <br />
          <p class="text2">Essa é uma das modalidades de empréstimo mais vantajosas do mercado, pois oferece maior valor de crédito, juros menores e maior prazo para pagamento. </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content2">
          <img src="../../../assets/images/Gráfico de taxas 2.svg" alt="Grafico de taxas">
        </div>
      </div>

      <div class="col-md-6">
        <div class="content3">
          <h1>Empréstimo com garantia de imóvel e carro</h1>
          <p class="text1">O Bmg é pra todo mundo e com o objetivo de garantir o acesso ao crédito que você precisa, ampliamos nossa oferta de produtos com o auto e home equity.</p>
          <br />
          <p class="text2">Pra tudo isso acontecer, temos dois parceiros: auto equity com a Creditas e home equity com a Wiz. Marcas fortes e comprometidas para que, ao contratar esse serviço, você tenha a segurança e a experiência que o Bmg prioriza!</p>
          <a href="">Faça uma simulação</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content4">
          <img src="../../../assets/images/Group 1130.svg" alt="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="content5">
          <h1>Motivos para contratar <br> auto e home equity Bmg</h1>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contentCard">
          <div class="card-body mx-0 my-3">
            <img src="../../../assets/images/Frame 1134.svg" alt="">
            <h4>Processo simples e análise flexível</h4>
            <p>A partir de uma rápida simulação, você obtém uma proposta personalizada para acessar o crédito que precisa e dar vida àquele projeto que está guardado na gaveta.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contentCard">
          <div class="card-body mx-0 my-3">
            <img src="../../../assets/images/Group 1139.svg" alt="">
            <h4>Menores juros do mercado</h4>
            <p>Como existe a garantia de um bem, a inadimplência do empréstimo com garantia é menor e permite uma incrível redução da taxa de juros, se comparado com outras formas de crédito.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contentCard">
          <div class="card-body mx-0 my-3">
            <img src="../../../assets/images/Frame.svg" alt="">
            <h4>Ótimas condições</h4>
            <p>Para o empréstimo com garantia de veículo o prazo para quitação é de até 60 meses e para  empréstimo com garantia de imóvel é de até 180 meses. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contentCard">
          <div class="card-body mx-0 my-3">
            <img src="../../../assets/images/Frame2.svg" alt="">
            <h4>Confiança e parceria</h4>
            <p>Toda a operação é regulamentada pelo Banco Central (BC), e temos ao nosso lado os melhores parceiros do ramo (Creditas e Wiz) para garantir a completa qualidade do serviço. </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="content6">
          <button>Faça uma simulação</button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="content7">
          <img src="../../../assets/images/Group 1140.svg" alt="">
          <h1>Como contratar o <br> empréstimo com <br> garantia?</h1>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contentInfo">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/step.svg" alt="">
            </div>
            <div class="col-10">
              <h4>Faça uma simulação</h4>
              <p>Todo cliente tem uma proposta personalizada. Simule e descubra sua taxa.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contentInfo">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/step2.svg" alt="">
            </div>
            <div class="col-10">
              <h4>Análise de perfil</h4>
              <p>Você conta um pouco sobre você e nós agilizamos a sua análise de crédito.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contentInfo">
          <div class="row">
            <div class="col-2">
              <img src="../../../assets/images/step3.svg" alt="">
            </div>
            <div class="col-10">
              <h4>Liberação</h4>
              <p>Após o registro do contrato no cartório, receba o dinheiro na sua conta.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 px-0">
        <div class="content8">
          <div class="information">
            <h2>Empréstimo com <br> garantia de imóvel</h2>
            <p>A hora de realizar sonhos é agora!</p>
            <a href="">Simular agora</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 px-0">
        <div class="content9">
          <div class="information">
            <h2>Empréstimo com <br> garantia de automóvel</h2>
            <p>A hora de realizar sonhos é agora!</p>
            <a href="">Simular agora</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
