<section id="footer">
  <div class="container-xl">
      <div class="row">

        <div class="col-md-4 p-0">
          <div class="content1">
            <img class="logoBmg" src="../../../assets/images/Frame 1042.svg" alt="Banco Bmg">

            <div class="contacts">
              <h6>SAC</h6>
              <a href="tel: 08009799099">0800 979 9099</a>
            </div>

          </div>

          <div class="mediaContent3">
            <p>Baixe o app e abra sua conta!</p>
            <div class=linksApp>
              <a href="https://play.google.com/store/apps/details?id=br.com.bancobmg.bancodigital" target="_blank"
                  title="Conta digital meu_BMG - Google Play">
                  <img src="../../../assets/images/google-play.svg" alt="Google play">
              </a>
              <a href="https://go.onelink.me/A8QP/89b76ef9" target="_blank"
                  title="Conta digital meu_BMG - AppStore">
                  <img src="../../../assets/images/app-store.svg" alt="App Store">
              </a>
            </div>
          </div>

        </div>

        <div class="col-md-4 p-0">
          <div class="content2">
            <p>Siga o bmg</p>

            <div class="socialMedias">
              <a href="https://www.facebook.com/meuBMG" title="Facebook meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/facebook-logo.svg" alt="Facebook"></a>
              <a href="https://www.instagram.com/bancoBMG/" title="Instagram meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/instagram-logo.svg" alt="Instagram"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Linkedin meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/linkedin-logo.svg" alt="Linkedin"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Youtube meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/youtube-logo.svg" alt="Linkedin"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Twitter meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/twitter-logo.svg" alt="Linkedin"></a>
              <a title="WhatsApp meu_BMG" href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=551140027007"
                  target="_blank" rel="noreferrer"><img src="../../../assets/images/whatsapp-logo.svg" alt="Whatsapp"></a>
            </div>

            <div class="contacts">
              <h6>Ouvidoria</h6>
              <a href="tel: 08009797333">0800 979 7333</a>
            </div>

          </div>

          <div class="mediaContent2">

            <div class="contacts">
              <h6>SAC</h6>
              <a href="tel: 08009799099">0800 979 9099</a>

              <div class="space">
                <h6>Atendimento acessível <br> (deficiência auditiva e de fala)</h6>
                <a href="tel: 08007232044">0800 723 2044</a>
              </div>

              <h6>Ouvidoria</h6>
              <a href="tel: 08009797333">0800 979 7333</a>
            </div>

          </div>

        </div>

        <div class="col-md-4 p-0">
          <div class="content3">
            <p>Baixe o app e abra sua conta!</p>
            <div class=linksApp>
              <a href="https://play.google.com/store/apps/details?id=br.com.bancobmg.bancodigital" target="_blank"
                  title="Conta digital meu_BMG - Google Play">
                  <img class="app" src="../../../assets/images/google-play.svg" alt="Google play">
              </a>
              <a href="https://go.onelink.me/A8QP/89b76ef9" target="_blank"
                  title="Conta digital meu_BMG - AppStore">
                  <img class="app" src="../../../assets/images/app-store.svg" alt="App Store">
              </a>
            </div>

            <div class="contacts">
              <h6>Atendimento acessível <br> (deficiência auditiva e de fala)</h6>
              <a href="tel: 08007232044">0800 723 2044</a>
            </div>

          </div>

          <div class="mediaContent3">
            <p>Siga o bmg</p>

            <div class="socialMedias">
              <a href="https://www.facebook.com/meuBMG" title="Facebook meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/facebook-logo.svg" alt="Facebook"></a>
              <a href="https://www.instagram.com/bancoBMG/" title="Instagram meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/instagram-logo.svg" alt="Instagram"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Linkedin meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/linkedin-logo.svg" alt="Linkedin"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Youtube meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/youtube-logo.svg" alt="Linkedin"></a>
              <a href="https://www.linkedin.com/company/meubmg/" title="Twitter meu_BMG" target="_blank"
                  rel="noreferrer"><img src="../../../assets/images/twitter-logo.svg" alt="Linkedin"></a>
              <a title="WhatsApp meu_BMG" href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=551140027007"
                  target="_blank" rel="noreferrer"><img src="../../../assets/images/whatsapp-logo.svg" alt="Whatsapp"></a>
            </div>

            <img class="logoBmg" src="../../../assets/images/Frame 1042.svg" alt="Banco Bmg">

          </div>

        </div>

      </div>
  </div>
</section>
